<%= form_with method: :get, class: 'w-full max-w-sm mx-auto' do |form| %>
  <div class="flex items-center border-b-2 border-blue-500 py-2">
    <%= form.text_field :query, placeholder: "Search movies", class: 'appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none' %>
    <%= form.submit "Search", class: 'flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded' %>
  </div>
<% end %>

<section id="movie-list" class="mt-10">
  <div class="grid grid-cols-3 gap-4 p-4">
    <%= render partial: 'movie_card', collection: @response.results, as: :movie %>
  </div>
</section>
